<h1>Simulação Acadêmica</h1>

@Html.ActionLink("Deletar Tudo", "DeletarTudo", "Simulacao", new { @class = "btn btn-danger" })

<form id="form-simulation" ng-controller="formSimulationController" ng-init="init()">
    <div class="form-row">
        <div class="col form-group">
            <label>Nº de turmas</label>
            <input ng-model="modelSimulacao.numeroTurmas" type="number" class="form-control" required for="numberOfClasses" name="numberOfClasses">
        </div>
        <div class="col">
            <label>Nº de alunos</label>
            <input ng-model="modelSimulacao.numeroAlunos" type="number" class="form-control" required for="numberOfStudents" name="numberOfStudents">
        </div>
        <div class="col">
            <label>Enviar dados</label>
            <button ng-click="enviarModelSimulacao(modelSimulacao)" class="form-control btn btn-info" ng-disabled="!canSend()">Enviar</button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Peso 1</label>
            <input ng-model="peso1" type="number" class="form-control pesos" required for="peso" name="peso" />
        </div>
        <div class="form-group col">
            <label>Peso 2</label>
            <input ng-model="peso2" type="number" class="form-control pesos" required for="peso" name="peso" />
        </div>
        <div class="form-group col">
            <label>Peso 3</label>
            <input ng-model="peso3" type="number" class="form-control pesos" required for="peso" name="peso" />
        </div>
    </div>
    <div class="form-row" id="first">
        <div class="form-group col">
            <label>Inserir as matérias</label>
            <input ng-model="nome" type="text" class="form-control materias" required for="matter" name="matter" />

        </div>
        <div class="form-group col" style="padding-top: 33px">
            <span class="btn btn-primary" ng-click="addMateria(nome, peso1, peso2, peso3)"><i class="fas fa-plus" id="plus"></i></span>
            <span class="btn btn-danger" ng-click="removeMateria()"><i class="fas fa-minus-square" id="minus"></i></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <h3>Matérias das turmas</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nome</th>
                        <th>Peso 1</th>
                        <th>Peso 2</th>
                        <th>Peso 3</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

</form>



