<h1>Simulação Acadêmica</h1>

<form id="form-simulation">
    <div class="form-row">
        <div class="col form-group">
            <label>Número de turmas</label>
            <input type="number" class="form-control" placeholder="Quantidade de turmas" required>
        </div>
        <div class="col">
            <label>Número de alunos por turma</label>
            <input type="number" class="form-control" placeholder="Quantidade de Alunos" required>
        </div>
    </div>
    <div class="form-row" id="first">
        <div class="form-group col">
            <label>Matéria</label>
            <input type="text" class="form-control" />
        </div>

        <div class="form-group col">
            <label style="width: 100%;">Aumentar/Diminuir quantidade de matérias</label>
            <span class="btn btn-primary" onclick="insertInputs()"><i class="fas fa-plus" id="plus"></i></span>
            <span class="btn btn-danger" onclick="removeElement()"><i class="fas fa-minus-square" id="minus"></i></span>
        </div>
    </div>
</form>
<script>

    function insertInputs() {
        let formSimulation = document.getElementById('form-simulation');
        formSimulation.appendChild(createInput());
    }

    function createInput() {

        let parentDiv = document.createElement('div');
        parentDiv.classList.add('form-row');
        parentDiv.classList.add('form-materia');

        let childDiv = document.createElement('div');
        childDiv.classList.add('form-group');

        let label = document.createElement('label');
        label.innerText = 'Matéria';

        let inputMatter = document.createElement('input');
        inputMatter.classList.add('form-control');
        inputMatter.style.width = '280px';
        inputMatter.style.marginLeft = '5px';

        let attributeType = document.createAttribute('type');
        attributeType.value = 'text';
        inputMatter.attributes.setNamedItem(attributeType);

        childDiv.appendChild(label);
        childDiv.appendChild(inputMatter);
        parentDiv.appendChild(childDiv);

        return parentDiv;
    }

    function removeElement() {
        let remove = document.getElementsByClassName('form-materia');
        for (let i = 0; i < remove.length; i++) {
            remove[i].parentNode.removeChild(remove[i]);
            break;
        }
    }

</script>


