@{
    ViewBag.Title = "First Class";
}

<div class="jumbotron">
    <h1>First Class, a simulação acadêmica</h1>
    <p class="lead">Olá, seja bem vindo ao FirstClass, um sistema de simulação de período acadêmico.</p>
    <p>@Html.ActionLink("Faça sua simulação agora","",null, new { @class = "btn btn-primary btn-lg text-center" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Simule suas turmas de um jeito rápido</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gere alunos fakes e informe apenas a quantidade</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Simule as provas acadêmicas com facilidade</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>